body {
     background-color: #fff;
     color: #303030;
     line-height: 1.6;
     font-size: 16pt;
     font-weight: 300;
     font-family: "lato",sans-serif;
}
 .siteTitle {
     font-family: "jaf-facitweb",sans-serif;
}
 a {
     text-decoration: none;
     color: rgb(0, 131, 255);
}
 a.anchor {
     color: #303030;
}
 time {
     color: rgb(171, 171, 171);
}
 .strike {
     text-decoration: line-through;
}
 .super {
     vertical-align: super;
     font-size: 50%;
}
 .content {
     text-align: left;
     max-width: 775px;
     margin: 0 auto 2em auto;
}
 .content ul {
     padding-left: 2.5em;
    /*list-style: circle;
    */
}
 .content ol {
     padding-left: 2.5em;
}
 .container {
     margin-bottom: 3em;
     margin-left:1em;
     margin-right:1em;
}
 .content .header {
     text-align: center;
     border-bottom-style: solid;
     border-bottom-color: rgb(228, 228, 228);
     border-bottom-width: 0.3em;
}
 .content .header .limContent .masthead {
     min-height: 8.5em;
}
 .content .header .siteTitle {
     font-size: 4em;
     font-weight: bold;
     margin-top: -0.25em;
}
 .content .header .siteTitle a {
     text-decoration: none;
     color: black;
}
 .content .header .siteTitle a:visited {
     color: black;
}
 .content .header .siteByline {
     font-size: 0.7em;
     margin-bottom: 1.2em;
     margin-top: -1em;
}
 .content .header nav {
     text-transform: uppercase;
     font-size: 0.85em;
     color: rgb(228, 228, 228);
     bottom: 0;
     margin-bottom: 0.5em;
}
 .content pre {
     padding: 0.5em;
     font-size: 0.9em;
     overflow: auto;
}
 .copyright {
     font-size: 0.6em;
     text-align: center;
}
 .center {
     display: block;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
}
 .center img.left {
     margin-right: 2em;
}
 .center img.right {
     margin-left: 2em;
}
 .center img.wide {
     width: 140%;
     max-width: 140%;
     margin: 0 -20%;
}
 .content img {
     max-width: 100%;
}
 .header .dot {
     font-weight: bold;
     margin-left: 0.25em;
}
 table.sortable thead {
     cursor: default;
}
 blockquote {
     border-left: 4px solid rgb(228, 228, 228);
     margin-left: 1em;
     padding-left: 1em;
}
 .content .youtube {
     width: 600px;
     height: 340px;
}
/* INSTAGRAM */
 .instagram-media {
     margin: 0 auto !important;
}
/* INDEX */
 .homepage .daybreak {
     margin-top: 3em;
     border: 0;
     color: rgb(228, 228, 228);
     background-color: rgb(228, 228, 228);
     height: 0.15em;
}
 .homepage .postHeader {
     margin-top: 3em;
     margin-bottom: 0em;
}
 .homepage .postHeader .postTitle {
     font-size: 2.2em;
     font-weight: 500;
     line-height: 1.2;
     text-transform: titlecase;
}
 .postTitle img {
     width: 1.5em;
     height: 1.5em;
     top: 0.4em;
     position: relative;
}
 a.postTitle {
     display: block;
}
 .postTitle .hand::before {
     content: '→';
}
 body pre {
     line-height: 1.0;
}
 .homepage .postHeader .postDate {
     font-size: 0.9em;
     display: block;
}
 .homepage .day .article {
     margin-bottom: 2em;
}
 .homepage .copyright {
     margin-top: 24px;
     padding-top: 10px;
}
 .homepage .article hr {
     width: 35%;
     margin-top: 2em;
     margin-bottom: 2em;
     border-top: 1px dashed black;
}
 .homepage .article th {
     padding: 0 0.5em 0 0.5em 
}
 .homepage .article td {
     padding: 0 0.5em 0 0.5em;
}
 .homepage .paginationFooter {
     width: 100%;
     margin-top: 1em;
}
 .homepage .paginationFooterPrevious {
     display: inline;
}
 .homepage .paginationFooterNext {
     display: inline;
     float: right;
}
/* POSTS */
 .post .postHeader {
     text-align: center;
     margin-bottom: 3em;
}
 .post .postHeader .postTitle {
     margin-top: 1em;
     font-size: 2em;
     text-decoration: none;
}
 .post .postHeader .postDate {
     display: block;
     font-size: 0.9em;
}
 figure {
     display: inline;
     float: right;
     max-width: 50% 
}
 figure.figleft {
     display: inline;
     float: left;
}
 figcaption {
     text-align: center;
     font-style: italic;
}
 section.footnotes {
     font-size: 0.8em;
}
 .post .postHeader .postTitle:visited {
     color: black;
}
 .post hr {
     width: 35%;
     margin-top: 2em;
     margin-bottom: 2em;
     border-top: 1px dashed black;
}
 .homepage .article hr.footnotes-sep {
     width: 50%;
     border-top: 1px solid #555 
}
 .post hr.footnotes-sep {
     width: 70%;
     border-top: 1px solid #555 
}
 .post th {
     padding: 0 0.5em 0 0.5em;
}
 .post td {
     padding: 0 0.5em 0 0.5em;
}
/* ABOUT */
 .headshot {
     float: left;
     display: inline;
     width: 250px;
     margin-right: 1em;
}
/* SHOWBOT */
 .showbot table {
    /*text-align: center;
     Because Siracusa said I wasn't allowed. */
     margin-left: auto;
     margin-right: auto;
}
 .showbot h2 {
     text-align: center;
     text-decoration: underline;
}
 .showbot .tables {
     display: none;
}
/* Siracusa tables */
 .siracusa-table table {
     border-collapse: collapse;
     border-spacing: 0;
     border-top: none;
}
 .siracusa-table th {
     border-bottom: 2px solid dimgray;
     border-left: 1px solid #ddd;
     text-align: center;
}
 .siracusa-table th:first-child, .siracusa-table td:first-child {
     border-left: none;
}
 .siracusa-table td {
     border-bottom: 1px solid dimgray;
     border-left: 1px solid #ddd;
     vertical-align: baseline;
}
 .siracusa-table td:nth-child(4) {
     text-align: center;
}
 .siracusa-table tr:last-child td {
     border-bottom: none;
}
/* Talk Show Embeds */
 iframe.talkshow-embed {
     margin-left: auto;
     margin-right: auto;
     display: block;
}
/* iPad */
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
     .center img.wide {
         width: 115% !important;
         max-width: 115% !important;
    }
     figure {
         max-width: 100% 
    }
}
/* iPhone */
 @media all and (max-width: 568px) {
     .container {
         margin-left:auto;
         margin-right:auto;
    }
     .content {
         max-width:90%;
    }
     .content .main {
         font-size: 18px;
    }
     .content .header .siteTitle {
         font-size: 40px;
    }
     .content .header .siteByline {
         font-size: 10px;
    }
     .content .header nav {
         font-size: 14px;
         position: relative;
         margin-left: 0;
    }
     .content .header {
         margin-bottom:1em;
    }
     .content .header .limContent {
         margin-right: 0;
         min-width: 0px;
    }
     .content .header .limContent .masthead {
         min-height: 0;
         margin-bottom: 0.4em;
    }
     .content .header nav a {
         margin: 0.2em;
         font-size: 12px;
    }
     .content ol {
         margin-left: 0.25em;
    }
     .content .youtube {
         width: 300px;
         height: 170px;
    }
     .homepage a.postTitle {
         font-size: 2em !important;
    }
     .center img.wide {
         width: 120% !important;
         max-width: 120% !important;
    }
     .center img.left, .center img.right {
         margin: 0;
    }
     figure {
         max-width: 100% 
    }
}
 
