span.text-content span {
  padding-top: 12px;
  padding-right: 6px;
  padding-left: 6px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
span.text-content {
  background: rgba(68, 2, 2, 0.37);
  color: white;
  cursor: default;
  display: table;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

div.team-box a:hover span.text-content {
  opacity: 1;
}

@media only screen and (min-width: 691px) {
span.text-content {
	padding-bottom: 1000px;
}
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
span.text-content {
	height: 373px;
}
}

@media only screen and (max-width: 767px) and (min-width: 480px){
  span.text-content {
	height: 523px;
}
}
