---
title: About
---

<!DOCTYPE html>
<html>

<head>
	{% include header.html %}
</head>

<body class="homepage">

    <div class="content">
        <div class="header">
            {% include nav.html %}
            <div style="clear: both"></div>
        </div>
        <div class="articles" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
		<div class="article">
			<div class="postHeader">
				<h1 class="postTitle" href="{{ production_url }}/about">About</h1>
			</div>
			<a href="{{ site.author.big_image }}">
               			<img src="{{ site.author.image }}" class="headshot" alt="😊" />
            		</a>
			{{ site.author.about_text }}<br><br>{{ site.author.site_about }}
		</div>
		<hr class="dayBreak">
        </div>
    </div>
    <div class="copyright">Copyright © {{ site.time | date: "%Y" }}</div>

</body>

</html>
