---
title: Calendar
tagline: Follow our Events
---

<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body class="royal_loader">
         <p>﻿
            <!--[if IE 8]>
                <html class="no-js lt-ie9" lang="en">
            <![endif]-->
            <!--[if gt IE 8]>
                <!--></p>
            <!--<![endif]-->
    </body>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    {% include JB/analytics %}
</html>


{% include header.html %}

<!-- Primary Page Layout================================================== -->

<!-- MENU================================================== -->
{% include nav.html %}


<!-- PARALLAX SECTION================================================== -->
<section class="parallax-section" id="header">
    <div class="parallax-1"></div>
    <div class="container z-index-pages">
        <div class="sixteen columns" style="background-color: rgba(35,0,0,.85);">
            <h1 style="text-align:center;color:#FFF;">{{ page.title }}</h1>
            <h3 style="text-align:center;">{{ page.tagline }}</h3>
        </div>
    </div>
</section>

<br><br>
<hr width="60%" style="margin-left:auto; margin-right: auto;">
<br>

<div class="sub-text">
    <h4>Follow a calendar to keep up to date on our events:</h4>
    <p>Subscribe to the calendar on your phone, or Schoology: <a href="https://calendar.google.com/calendar/ical/a3nie9jpl0bemlgcpmd40n5nvo%40group.calendar.google.com/public/basic.ics">Click to Subscribe</a></p>
    <p>Subscribe to the calendar on Google Calendar: <a href="https://calendar.google.com/calendar/render?cid=a3nie9jpl0bemlgcpmd40n5nvo%40group.calendar.google.com">Click to Subscribe</a></p>
    <p>Website Version (Recomended to Bookmark this): <a href="https://calendar.google.com/calendar/embed?src=a3nie9jpl0bemlgcpmd40n5nvo%40group.calendar.google.com&ctz=America/Chicago">Click to View</a></p>
</div>

<hr width="60%" style="margin-left:auto; margin-right: auto;">

{% include footer.html %}
