---
title: News
---

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="royal_loader">
     <p>﻿ <!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]--> <!--[if gt IE 8]>
     <!--></p>
     <!--<![endif]--></body>
     <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
     {% include JB/analytics %}
</html>

<!-- NEWS================================================== -->
<section class="about" id="news"><br>
    <div class="team" id="team" style="padding-bottom:0px;">
        <div class="container">
            <div class="sixteen columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                <h1>{{ page.title }}</h1><br>
                <hr style="color:#888; margin-left:auto; margin-right:auto;" width="80%">
            </div>
        </div>

        {% for post in site.posts limit:12 %}
            {% assign loopindex = forloop.index | modulo: 3 %}
            {% if loopindex == 1 %}
                <div class="container">
            {% endif %}
                <div class="one-third column" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                    <div class="team-box" style="height:150;width:250;">
                        <a href="{{ post.url }}" title="{{ post.title }}">
                            <img alt="" src="{{ post.image }}">
                        </a>
                    </div>

                    <div class="team-box-down">
                        <h6>{{ post.title }}</h6>
                        <p style="color: #DDD;">{{ post.summary }}</p>
                        <div class="sub-text" style="margin-bottom: 0px;">
                             <p>
                                 <i class="icon-calendar"></i> {{ post.date | date: "%B %e, %Y" }}<br>
                                 <i class="icon-tags"></i> Tags :{% for tag in post.tags %} {% if forloop.last != true %} <a style="color: #EEE;" href="{{ site.JB.tags_path }}#tag-{{ tag }}" rel="tooltip" title="View posts tagged with &quot;{{ tag }}&quot;"><span class="label label-info">{{ tag }}, </span></a> {% else %} <a style="color:#333;" href="{{ site.JB.tags_path }}#tag-{{ tag }}" rel="tooltip" title="View posts tagged with &quot;{{ tag }}&quot;"><span class="label label-info">{{ tag }}</span></a> {% endif %} {% endfor %}
                             </p><br>
                        </div>
                        <div align="center" class="link-out"><a href="{{ post.url }}" title="{{ post.title }}">Read more</a></div>
                    </div>
                </div>
            {% if loopindex == 0 %}
                </div><br>
            {% endif %}
            {% if forloop.last %}
                </div><br>
            {% endif %}
        {% endfor %}
        <hr style="color:#888; margin-left:auto; margin-right:auto;" width="80%"><br>
        <div align="center" class="link-out">
            <a href="archive.html" title="Archive">
                More Articles
            </a>
        </div><br>
    </div>
</section>
