---
title: Tags
---

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="royal_loader">
<section class="about" id="tags"><br>
    <div class="team" id="team" style="padding-bottom:0px;">
        <div class="container">
            <div class="sixteen columns" data-scroll-reveal="enter bottom move 100px over 0.5s after 0.1s">
                <h1>Tags</h1><br>
                <hr style="color:#888; margin-left:auto; margin-right:auto;" width="80%"><br>
            </div>
            <div style="text-align:center;" class="sixteen columns">
                {% for tag in site.tags %}
                    {% assign loopindex = forloop.index | modulo: 2 %}
                    {% if loopindex == 1 %}
                        <div class="container">
                    {% endif %}
                            <div class="one-half column tag-container">
                                <h2 style="color:#FFF;" id="tag-{{ tag[0] }}">{{ tag[0] }}</h2>
                                <ul>
                                    {% assign pages_list = tag[1] %}  
                                    {% include JB/pages_list %}
                                </ul><br>
                            </div>
                    {% if loopindex == 0 %}
                        </div>
                    {% endif %}
                    {% if forloop.last %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
</body>
</html>
