<h2>AC FBLA</h2>
<p><a href="http://twitter.com/{{ site.author.twitter }}"><img src="/img/acfbla_small.png" alt="{{ site.author.name }}" title="Follow me on Twitter @{{ site.author.twitter }}"  class="img-rounded floatLeft" /></a>			
The Official Website for Adams Central's Future Business of America Chapter</p>					
<p><a href="https://twitter.com/{{ site.author.twitter }}" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @{{ site.author.twitter }}</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://www.twitter.com/{{ site.author.twitter }}" rel="me" class="social twitter" title="Go to twitter.com/{{ site.author.twitter }}" target="_blank"></a></li>
	  <li><a href="rss.xml" rel="me" class="social rss" title="View RSS Feed (Atom Also Available)" target="_blank"></a></li>
	  <li><a href="https://github.com/{{ site.author.github }}/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for {{ site.author.name }}"  target="_blank"></a></li>
	  <li><a href="http://github.com/{{ site.author.github }}" rel="me" class="social github" title="Go to github.com/{{ site.author.github }}" target="_blank"></a></li>
	  <li><a href="http://github.com/{{ site.author.github }}" rel="me" class="social github" title="Go to github.com/{{ site.author.github }}" target="_blank"></a></li>
	</ul>
</p>
