<head>
    	<meta charset="utf-8">
	
	<base href="{{ site.production_url }}" target="_blank">
	
    	<title>{{ page.title }}</title>
    	<meta name="keywords" content="FBLA, Adams, Central, PBL, AC, Hastings, Nebraska, Future, Business, Leaders, Of, America, Class, School, Club">
    	<meta name="description" content="{{ site.tagline }}">
    	<meta name="author" content="{{ site.author.name }}">
    	
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	
    	<link href="http://hbiede.github.io/css/base.css" rel="stylesheet" />
	<link href="http://hbiede.github.io/css/skeleton.css" rel="stylesheet" />
	<link href="http://hbiede.github.io/css/layout.css" rel="stylesheet" />
	<link href="http://hbiede.github.io/css/font-awesome.css" rel="stylesheet" />
	<link href="http://hbiede.github.io/css/owl.carousel.css" rel="stylesheet" />
	<link href="http://hbiede.github.io/css/settings.css" rel="stylesheet" />
	<link href="http://hbiede.github.io/css/retina.css" rel="stylesheet" />
	<link href="http://hbiede.github.io/css/bootstrap.css" rel="stylesheet" />
	<link href="/css/bootstrap.css" rel="stylesheet">
-    	<link href="/css/bootstrap.icon-large.css" rel="stylesheet">
-    	<link href="/css/bootstrap-theme.css" rel="stylesheet">
-    	<link href="/css/docs.css" rel="stylesheet">
-    	<link href="/css/fuelux.css" rel="stylesheet">
-    	<link href="/css/fonts.css" rel="stylesheet">
-	<link href="/css/google-code-prettify/prettify.css" rel="stylesheet">
	<script type="text/javascript" src="http://hbiede.github.io/js/modernizer.custom.js"></script>
	<script type="text/javascript" src="http://hbiede.github.io/js/jquery.js"></script>
	<script type="text/javascript" src="http://hbiede.github.io/js/bootstrap.js"></script>

	<!-- Favicons================================================== -->
	<link href="http://hbiede.github.io/img/favicon.ICO" rel="shortcut icon" />
	<link href="http://hbiede.github.io/img/apple-touch-icon.png" rel="apple-touch-icon" />
	<link href="http://hbiede.github.io/img/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72" />
	<link href="http://hbiede.github.io/img/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114" />
    	
    	<!--[if lt IE 9]>
      	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
</head>
