<!-- Basic Page Needs================================================== -->

<!-- Mobile Specific Metas================================================== -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
<meta http-equiv="cache-control" content="max-age=0">
<title>{{ page.title }}</title>
<meta name="keywords" content="FBLA, Adams, Central, PBL, AC, Hastings, Nebraska, Future, Business, Leaders, Of, America, Class, School, Club">
<meta name="author" content="{{ site.author.name }}">
<meta name="copyright" content="© {{ site.author.name }}" />
<!-- CSS================================================== -->
<link href="https://fbla.github.io/css/base.css" rel="stylesheet">
<link href="https://fbla.github.io/css/skeleton.css" rel="stylesheet">
<link href="https://fbla.github.io/css/layout.css" rel="stylesheet">
<link href="https://fbla.github.io/css/font-awesome.css" rel="stylesheet">
<link href="https://fbla.github.io/css/owl.carousel.css" rel="stylesheet">
<link href="https://fbla.github.io/css/settings.css" rel="stylesheet">
<link href="https://fbla.github.io/css/retina.css" rel="stylesheet">
<link href="https://fbla.github.io/css/modal.css" rel="stylesheet">
<link href="https://fbla.github.io/css/glyphs.css" rel="stylesheet">
<script type="text/javascript" src="https://fbla.github.io/js/modernizer.custom.js"></script>
<script type="text/javascript" src="https://fbla.github.io/js/jquery.js"></script>
<script type="text/javascript" src="https://fbla.github.io/js/modal.js"></script>
<!-- Favicons================================================== -->
<link href="https://fbla.github.io/img/favicon.ico" rel="shortcut icon">
<link href="https://fbla.github.io/img/apple-touch-icon.png" rel="apple-touch-icon">
<link href="https://fbla.github.io/img/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
<link href="https://fbla.github.io/img/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">