<script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "Adams Central FBLA",
  "url" : "http://fbla.github.io",
  "logo": "http://fbla.github.io/img/acfbla2.png",
  "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+1-402-463-3285",
      "contactType" : "customer service"
    } ] },
  "sameAs" : ["https://www.twitter.com/ACFBLA",
    "https://www.facebook.com/FutureBusinessLeadersMPVP",
    "https://www.instagram.com/fbla_pbl] 
}
</script>
