<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topBar">
      	<span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Adams Central</a>
    </div>
    
    <div class="collapse navbar-collapse" id="topBar">
      <ul class="nav navbar-nav">
      	<li><a href="http://fbla.github.io"><i class="icon-home"></i> Home</a></li>
      	<li><a href="http://fbla.github.io/news.html"><i class="icon-book"></i> News</a></li>
      	
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-list"></i> FBLA <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation" class="dropdown-header">Adams Central FBLA</li>
            <li><a role="menuitem" href="http://fbla.github.io/moreinfo.html" rel="tooltip" title="View More Info" target="_blank">More About FBLA</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">FBLA Websites</li>
            <li><a role="menuitem" tabindex="-1" href="http://www.fbla.org/" rel="tooltip" title="FBLA Homepage" target="_blank">FBLA</a></li>
	    <li><a role="menuitem" tabindex="-1" href="https://www.sites.google.com/a/fbla.org/mountainplains/" rel="tooltip" title="FBLA Mountain Plains Region Website" target="_blank">Mountain Plains FBLA</a></li>
            <li><a role="menuitem" tabindex="-1" href="http://www.nebraskafbla.org/" rel="tooltip" title="Nebraska FBLA" target="_blank">Nebraska FBLA</a></li>
	  </ul>
        </li>
      </ul>
  </div>
</nav>
