<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://fbla.github.io/">Adams Central FBLA</a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://fbla.github.io"><i class="icon-home"></i> Home</a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"></i> Social <b class="caret"></b></a>
				<ul class="dropdown-menu">										
					<li class=""><a href="http://www.twitter.com/erjjones" rel="tooltip" title="Go to twitter.com/erjjones" target="_blank">Twitter</a></li>
					<li class="divider"></li>
					<li>   More to Come</li>
				</ul>
		  </li>
		  
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list"></i> FBLA Websites <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li class=""><a href="http://www.fbla-pbl.org/" rel="tooltip" title="Go to fbla-pbl.org/" target="_blank">FBLA</a></li>
					<li class=""><a href="https://www.sites.google.com/a/fbla.org/mountainplains/" rel="tooltip" title="Go to Mountain Plains Website" target="_blank">Mountain Plains FBLA</a></li>
					<li class=""><a href="http://www.nebraskafbla.org/" rel="tooltip" title="Go to nebraskafbla.org/" target="_blank">Nebraska FBLA</a></li>
				</ul>
		  </li>
		  <li><a href="news.html">News</a></li>
		</ul>		
	  </div>
	</div>
  </div>
</div>
