<div class="container">	
	<div class="sixteen columns">
		<h1>{{ page.title }}</h1>	
	</div>
</div>	
<div class="container">
    <div class="one-third column">
        <h5>
            <strong>
                {{ page.date | date: "%B %e, %Y" }} 
                <small>
                    | 
                    <a data-gal="m_PageScroll2id" data-ps2id-offset="65" href="http://fbla.github.io{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.url }}" title="{{ page.title }} Discussion Page">
                        Comments
                    </a>
                </small>
            </strong>
            <br>
            <small>
                Tags:
                {% for tag in page.tags %}
                    <a data-gal="m_PageScroll2id" data-ps2id-offset="65" href="/tags.html#tag-{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;">
                        <u>{{ tag }}</u>
                    </a>
                {% endfor %}
            </small>
            <br><br>
        </h5>
    </div>
    <div class="two-thirds column"><br>
        <p class="pull-right">
            {% if page.previous.url %} 
                <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">
                    <i class="icon-chevron-left"></i>
                </a>
            {% endif %}
            {% if page.next.url %}
                <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">
                    <i class="icon-chevron-right"></i>
                </a> 	
            {% endif %} 
        </p>
    </div>
</div>
<div class="container">
	<div class="sixteen columns">
		<hr>
	</div>
</div>