{{ $css := resources.Get "css/common.css" | minify | resources.Fingerprint "sha512" }}

<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>
          {{ block "title" . }}
          {{ if .IsHome}}
              {{ .Site.Params.author.fullName }} - {{ .Site.Title }}
          {{else}}
              {{ .Page.Title }} - {{ .Site.Title }}
          {{ end }}
          {{ end }}
  </title>
  <meta name="author" content="{{ .Site.Params.author.fullName }}">
  <meta name="copyright" content="© {{ .Site.Copyright }}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon -->
  <link href="{{ .Site.BaseURL }}images/icons/favicon.ico" rel="shortcut icon">
  <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}images/icons/favicon.png">

  <!-- Apple Home Screen Icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ .Site.BaseURL }}images/icons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ .Site.BaseURL }}images/icons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ .Site.BaseURL }}images/icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ .Site.BaseURL }}images/icons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ .Site.BaseURL }}images/icons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ .Site.BaseURL }}images/icons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ .Site.BaseURL }}images/icons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ .Site.BaseURL }}images/icons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}images/icons/apple-touch-icon-180x180.png">

  <!-- Safari Pinned Tab -->
  <link rel="mask-icon" href="{{ .Site.BaseURL }}images/icons/favicon.svg" color="black">

  <!-- Android -->
  <link rel="manifest" href="{{ .Site.BaseURL }}manifest.json">

  <!-- Microsoft -->
  <meta name="msapplication-TileColor" content="#0083ff">
  <meta name="msapplication-TileImage" content="{{ .Site.BaseURL }}images/icons/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- Twitter Cards -->
  <meta property="twitter:card" content="summary">
  <meta property="twitter:site" content="{{ .Permalink }}">
  <meta property="twitter:creator" content="@{{ .Site.Params.author.twitter }}">
  <meta property="twitter:title" content="{{ .Page.Title }}">
  <meta property="twitter:image" content="{{ .Site.BaseURL }}{{ .Site.Params.author.image }}">

  <!-- Open Graph -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ .Permalink }}/">
  <meta property="og:site_name" content="{{ .Site.Title }}">
  <meta property="og:title" content="{{ .Site.Title }}"/>
  <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Site.Params.author.image }}">

  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}">
</head>
<body>
<main>
  {{ block "header" . }}
  {{ end }}
  {{ block "main" . }}
  {{ end }}
</main>
{{ block "footer" . }}
{{ end }}
</body>
</html>