main {
  background-color: var(--Accent);
  display: grid;
  grid-template-columns: max(35vw) auto;

  @mixin content-container {
    background-color: var(--PortfolioWhite);
    border-radius: 0.5em;
    margin: 1em;
    padding: 1em;
  }

  section {
    @include content-container;

    &#about-me {
      font-size: 1.05em;
    }

    &#contact-info > p {
      margin-top: 0.5em;

      &:nth-of-type(1) {
        margin-top: 0;
      }
    }

    &#education-history {
      div {
        & > p:nth-of-type(1) {
          font-size: 1.2em;
          margin-bottom: 0.4em;
        }

        & > p:nth-of-type(2) {
          font-size: 0.95em;
          margin-bottom: 0.2em;

          > span {
            font-size: 0.85em;
            color: var(--PortfolioGrey);
          }
        }

        > hr {
          color: var(--PortfolioGrey);
          margin: 0.5em 0;
        }

        &:nth-last-of-type(1) > hr {
          display: none;
        }
      }
    }

    &#project-list {
      @include content-container;
      display: flex;
      flex-direction: column;
      margin-left: 0;

      a {
        font-size: 1.25em;

        &:hover {
          color: var(--SpecialTextColor);
        }

        &.more-projects {
          align-self: flex-end;
          font-size: 1em;
        }
      }

      hr {
        margin-bottom: 2em;
        margin-top: 1em;
      }

      .project-list-item {
        align-items: center;
        border-bottom-color: var(--Accent);
        border-bottom-style: solid;
        border-bottom-width: 0.1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 1em;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 1em;

        .project-item-desc {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }

        img {
          margin-left: 1em;
          max-width: 10vw;
        }

        .project-item-tags {
          display: none;
        }

        &:nth-of-type(1) {
          display: flex;
          flex-direction: column-reverse;

          .project-item-desc {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            a {
              font-size: 2em;
            }

            .project-item-tags {
              align-items: center;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: center;
              margin: 0.75em 0 0.75em -0.5em;

              a {
                background-color: var(--Accent);
                border-radius: 0.5em;
                color: var(--PortfolioWhite);
                font-size: 1em;
                margin-left: 0.5em;
                margin-top: 0.5em;
                padding: 0.25em 0.5em;
              }
            }
          }

          img {
            margin-bottom: 1em;
            margin-left: 0;
            max-height: 15em;
            max-width: none;
          }
        }
      }
    }

    &#skill-set {
      padding-left: 1.5em;
      padding-right: 1.5em;

      hr {
        margin-bottom: 0.5em;
        margin-top: 0.5em;
      }

      p {
        margin-top: 0.5em;
        margin-bottom: 0.2em;
      }

      > .skill-container {
        height: 15px;
        background: var(--PortfolioGrey);

        > .skill-bar {
          height: 15px;
          background: var(--Accent);
        }
      }
    }

    &#work-experience {
      @include content-container;
      display: flex;
      flex-direction: column;
      margin-left: 0;

      a {
        font-size: 1.25em;

        &:hover {
          color: var(--SpecialTextColor);
        }

        &.more-work-experience {
          align-self: flex-end;
          font-size: 1em;
        }
      }

      hr {
        margin-bottom: 2em;
        margin-top: 1em;
      }

      .work-experience-list-item {
        border-bottom-color: var(--Accent);
        border-bottom-style: solid;
        border-bottom-width: 0.1em;
        padding-bottom: 1em;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 1em;

        .work-experience-item-desc {
          margin-bottom: 0.5em;
        }

        .work-experience-item-tags {
          align-items: center;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin: 0.75em 0 0.75em -0.5em;

          a {
            background-color: var(--Accent);
            color: var(--PortfolioWhite);
            border-radius: 0.5em;
            font-size: 1em;
            margin-left: 0.5em;
            margin-top: 0.5em;
            padding: 0.25em 0.5em;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  main {
    display: flex;
    flex-direction: column-reverse;

    section#project-list {
      margin-bottom: 0;
      margin-left: 1em;
    }
  }
}

/************************
-------- Footer ---------
************************/

footer {
  width: 100%;

  p {
    color: var(--TextOnDarkColor);
    margin: 1em 0;
    text-align: center;
  }
}


/***************************
-------- Scrolling ---------
***************************/

body {
  //noinspection CssBrowserCompatibilityForProperties
  scroll-behavior: auto;
}

@media screen and (not prefers-reduced-motion) and (update: fast) {
  body {
    //noinspection CssBrowserCompatibilityForProperties
    scroll-behavior: smooth;
  }
}
