@import "common";

main {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;

  article {
    min-width: 550px;
    width: 75%;

    @media (max-width: 600px) {
      min-width: auto;
      width: 100%;
    }
  }

  section {
    @include content-container;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5em;

    h3 {
      font-size: 2em;
    }

    img.post-image {
      align-self: center;
      margin-bottom: 2em;
      margin-top: 2em;
      max-width: 40vw;
      max-height: 50em;
    }

    .item-tags, .item-links {
      @import "project_list_item";
      @include tags;
      align-items: flex-start;

      > p {
        margin-top: 0;
        margin-bottom: 1em;
      }
    }

    hr {
      margin-bottom: 1em;
      margin-top: 1em;
    }

    p {
      margin-top: 1em;
    }

    p.years-marker {
      font-weight: 550;
    }
  }
}