@import "common";
@mixin work_exp_section {
  @include content-container;

  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.5em;
  }

  hr {
    margin-bottom: 1.5em;
  }

  p.years-marker {
    margin-bottom: 1em;
  }

  a.more-work-experience {
    align-self: flex-end;
    font-size: 1em;
  }

  @media (max-width: 600px) {
    min-width: auto;
    width: auto;
  }
}