<header>
  <div class="header-name">
    <h1>{{ .Site.Params.author.fullName }}</h1>
    <h2>{{ .Site.Params.author.jobTitle }}</h2>
    <div class="header-links">
      {{ range $i, $link := .Site.Params.author.links }}
      <a href="{{ $link.link }}">{{ $link.name }}</a>
      {{ end }}
    </div>
  </div>
  {{ if .IsHome }}
  <img
      class="headshot"
      src="{{ .Site.Params.author.image }}"
      alt="Image of {{ .Site.Params.author.shortName }}"
  />
  {{ else }}
  <a href="{{ .Site.BaseURL }}" aria-label="Go Home">
    <img
        class="headshot"
        src="{{ .Site.Params.author.image }}"
        alt="Image of {{ .Site.Params.author.shortName }}"
    />
  </a>
  {{ end }}
</header>