{{ $headshot := resources.Get .Site.Params.author.image }}
{{ $isHome := .IsHome }}
{{ $name := .Site.Params.author.shortName }}
{{ $baseURL := .Site.BaseURL }}

{{ if .IsHome}}<header style="height:100vh;">{{ else }}<header>{{ end }}
  <div class="header-name">
    {{ if .IsHome }}
      <h1 style="font-size:6vw;">
    {{ else }}
      <h1>
    {{ end }}
      {{ .Site.Params.author.fullName }}
    </h1>
    {{ if .IsHome }}
      <h2 style="font-size:4vw;">
    {{ else }}
      <h2>
    {{ end }}
      {{ .Site.Params.author.jobTitle }}
    </h2>
    <div class="header-links">
      {{ range $i, $link := .Site.Params.author.links }}
      <a href="{{ $link.link }}">{{ $link.name }}</a>
      {{ end }}
    </div>
  </div>
  <div class="headshot-container">
    {{ with $headshot }}
      {{ if $isHome }}
        <picture>
          <source srcset="{{ ($headshot.Resize "1000x webp").RelPermalink }}" type="image/webp">
          <img
            class="headshot"
            src="{{ ($headshot.Resize "1000x jpeg").RelPermalink }}"
            alt="Image of {{ $name }}"
            style="max-height:80vh;"
          />
        </picture>
      {{ else }}
        <a href="{{ $baseURL }}" aria-label="Go Home">
          <picture>
            <source srcset="{{ ($headshot.Resize "600x webp").RelPermalink }}" type="image/webp">
            <img
              class="headshot"
              src="{{ ($headshot.Resize "600x jpeg").RelPermalink }}"
              alt="Image of {{ $name }}"
              style="max-height: 15em;"
            />
          </picture>
        </a>
      {{ end }}
    {{ end }}
  </div>
</header>