{{ $expList := sort (sort (sort (where .Site.RegularPages "Section" "work-experience") ".Date" "desc") ".Params.Years" "desc") }}
{{ if .IsHome }}
  {{ $expList = first 6 $expList }}
{{ end }}

<section id="work-experience">
  <h3>Work Experience</h3>
  <hr />
  {{ range $expList }}
  <div class="work-experience-list-item">
    <div class="work-experience-item-desc">
      <h4>
        <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
        {{ with .Params.Company }}
        <span>{{ . }}</span>
        {{ end }}
      </h4>
    </div>
    {{ with .Params.Years }}
      <p class="years-marker">Years: {{ . }}</p>
    {{ end }}
    {{ .Content }}
    <div class="work-experience-item-tags">
      {{ range .Params.Tags }}
      <a href="/tags/{{ urlize . }}">{{ . }}</a>
      {{ end }}
    </div>
  </div>
  {{ end }}
  <a class="more-work-experience" href="/work-experience">More &gt;</a>
</section>
