---
title: Agenda
---

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="royal_loader">
     <p>﻿ <!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]--> <!--[if gt IE 8]>
     <!--></p>
     <!--<![endif]--></body>
     <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
     {% include JB/analytics %}
</html>


{% include header.html %}


<!-- Primary Page Layout================================================== -->

<!-- MENU================================================== -->
{% include nav.html %}

<!-- AGENDA================================================== -->
<section class="about">
    {% include post_header.html %}
    <div class="container" id="agenda">
        <div class="sixteen columns">
            <p class="lead">The {{ page.month }} Agenda</p><br>
            <p>At the {{ page.month }} meeting, the topics of discussion will include:</p>
            <dl class="dl-horizontal">
              {% if page.item1 %}
                <dt>{{ page.item1 }}</dt>
                <dd>{{ page.description1 }}</dd>
              {% endif %}
              {% if page.item2 %}
                <dt>{{ page.item2 }}</dt>
                <dd>{{ page.description2 }}</dd>
              {% endif %}
              {% if page.item3 %}
                <dt>{{ page.item3 }}</dt>
                <dd>{{ page.description3 }}</dd>
              {% endif %}
              {% if page.item4 %}
                <dt>{{ page.item4 }}</dt>
                <dd>{{ page.description4 }}</dd>
              {% endif %}
              {% if page.item5 %}
                <dt>{{ page.item5 }}</dt>
                <dd>{{ page.description5 }}</dd>
              {% endif %}
            </dl>
            <p>The next meeting will be held on {{ page.nextMeeting }}</p>
        </div>
        <button class="btn btn-success" data-toggle="modal" data-target="#agendaModal">
            <img src="{{ page.image }}" title="{{ page.title }}" alt="{{ page.title }}" width="250">
            <p>Click to See Full Agenda</p>
        </button>
        <div class="modal fade" id="agendaModal" tabindex="-1" role="dialog" aria-labeledby="agendaModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal">
                            <span aria-hidden="true">
                                &times;
                            </span>
                            <span class="sr-only">
                                Close
                            </span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h2>
                            {{ page.title }}
                        </h2>
                        <iframe src="{{ page.agendalink }}" type="application/pdf" width="100%" height="750">
                            <p>
                                It appears you don't have a PDF plugin for this browser.
                                You can
                                <a href="{{ page.agendalink }}">
                                    click here to download the PDF file.
                                </a>
                            </p>
                        </iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button"" onclick="window.location='{{ page.agendalink }}';">
                            Agenda Link
                        </button>
                        <button type="button" onClick="window.location='http://eepurl.com/bbcDYj';">
                            Sign-up for Emails!
                        </button>
                        <button type="button" data-dismiss="modal">
                            Close
                        </button>
                  </div>
               </div>
            </div>
        </div>
        <hr><br><br>
        {% include JB/comments-providers/disqus %}
    </div>
</section>
{% include footer.html %}
