<!DOCTYPE html>
<html>

<head>
	{% include header.html %}
	<link rel="stylesheet" href="{{ site.resourse_url }}/css/blog.css">
</head>

<body class="homepage">

    <div class="content">
        <div class="header">
            {% include nav.html %}
            <div style="clear: both"></div>
        </div>
        <div class="articles">
		<main>
			<div class="postHeader">
				<h1><a class="postTitle" href="{{ page.url }}">{{ page.title }}</a></h1>
				<h3 class="subtitle">{{ page.description }}</h4>
				<div class="byline" itemscope itemtype="http://schema.org/Person"><span itemprop="author" hidden>{{ site.author.name}}</span>
				<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%A, %B %-d, %Y"}}</time></div>
				<hr class="dayBreak">
			</div>
			{{ content }}
		</main>
		<hr class="dayBreak">
        </div>
    </div>
    <footer><div class="copyright">Copyright © {{ site.time | date: "%Y" }}</div></footer>

</body>

</html>

<!DOCTYPE html>
<html lang="en">

<head>
	{% include header.html %}
</head>

<body class="homepage">
<div class="header">
	{% include nav.html %}
</div>

<div class="container sections-wrapper">
	<div class="row">
		<div class="primary col-12">
			<section class="section">
				<div class="section-inner">
					<h2>Privacy Policy:</h2>
					<p>No identifying information from any personal is shared with the developer of Lazy Clock. The only information shared with the developer is anonymous performance reports and crash reports if you choose to share said reports with app developers in your system settings.</p>
				</div>
			</section>
		</div>
	</div>
</div>

</body>

</html>
