<!DOCTYPE html>
<html lang="en" class="scroll-off">

{% include header.html %}

<body>
{% include nav.html %}

<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-12">
            <section class="section">
                <div class="section-inner blogPost">
                    <h2 class="postTitle">{{ page.title | smartify }}</h2>
                    {% if page.subtitle %}
                    <h3 class="subtitle">{{ page.subtitle | smartify }}</h3>
                    {% endif %}
                    <div class="byline" itemscope itemtype="http://schema.org/Person"><span itemprop="author" hidden>{{ site.author.name}}</span>
                        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date |
                            date: "%A, %B %-d, %Y"}}
                        </time>
                    </div>
                    {% if project.links.size > 0 %}
                    <p>
                        {% for link in project.links %}
                        <a class="more-link" href="{{ link.link }}"
                                   target="_blank"><i class="fas fa-external-link-alt"></i>{{ link.name }}</a>
                        {% endfor %}
                    </p>
                    {% endif %}
                    {{ content | smartify }}
                </div>
            </section>
        </div>
    </div>
</div>

</body>
{% include footer.html %}
</html>
