<!DOCTYPE html>
<html class="fuelux" lang="en">
  <head>
    	<meta charset="utf-8">
    	<title>{{ page.title }}</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="">
    	<meta name="author" content="">
  </head>
  
  <body>
    <div class="container">	
	 	  <div class="marketing">
	       <div class="content">	  
		 	     <div class="row">
		  	    
			     <div class="span7 columns">						
				    	{{ content }} 					
			     </div>	
				      
			     <div class="span4 columns">					
				     {% include aboutme.html %}							
           </div>	
			      	
		       </div>						
		     </div>	
	     </div>		 
    </div>
	   
    {% include footer.html %}

    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>   
    
    {% include JB/comments %}
    
    {% include JB/analytics %}
    
   </body>
</html>
