<!DOCTYPE html>
<html class="fuelux" lang="en">
  {% include header.html %}
  <body>
      {% include nav.html %}
      <div class="container">	
	  	  <div class="marketing">
	<div class="content">	  
		<div class="row">
			<div class="span7 columns">
				    	<img src="{{ page.image }}" align="left" alt="{{ post.title }}" height="300" width="200">
				    	{{ content }}
				    	<blockquote style="border: 2px solid #666; padding: 10px; background-color: #ccc;"> {{ page.quote }} <br> {{ page.quoteSource }}</blockquote>
			</div>	

		</div>
		{% include JB/comments-providers/disqus %}
	</div>	
</div>		 
	</div>
	   {% include footer.html %}
     <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
   </body>
</html>
