<!DOCTYPE html>
<html class="fuelux" lang="en">
  {% include JB/setup %}
  {% include header.html %}
  <body>
      {% include nav.html %}
      <div class="container-fluid">	
	  	  <div class="marketing">
	<div class="content">	  
		<div class="row">
			<div class="span2">
				
			</div>
			<div class="span8">
				<h1>{{ page.name }} <small>{{ page.office }}</small></h1>
				    	{{ content }} 					
			</div>						
	</div>	
</div>		 
	</div>
	   {% include footer.html %}
     <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
   </body>
</html>
