<!DOCTYPE html>
<html class="fuelux" lang="en">
  {% include JB/setup %}
  {% include header.html %}
  <body>
      {% include nav.html %}
      <div class="container">	
	  	  <div class="marketing">
	<div class="content">	  
		<div class="row">
      {% include post_header.html %}
			<div class="span7 columns">
				    	{{ content }} 					
			</div>

			<div class="span4 columns">					
				{% include aboutme.html %}							
           		</div>	

		</div>
		{% include JB/comments-providers/disqus %}
	</div>	
</div>		 
	</div>
	   {% include footer.html %}
     <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
   </body>
</html>
