---
title: News Post
---

<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body class="royal_loader">
         <p>﻿ 
            <!--[if IE 8]><html class="no-js lt-ie9" lang="en"> 
            <![endif]-->
            <!--[if gt IE 8]>
            <!-->
        </p>
         <!--<![endif]-->
    </body>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    {% include JB/analytics %}
</html>


{% include header.html %}


<!-- Primary Page Layout================================================== -->

<!-- MENU================================================== -->
{% include nav.html %}

<!-- AGENDA================================================== -->
<section class="about">
    {% include post_header.html %}
    <div class="container" id="agenda">
        <div class="sixteen columns">
            {{ content }}
        </div>
        <hr>
        {% include JB/comments-providers/disqus %}
    </div>
</section>

{% include footer.html %}

