---
title: Meeting Agenda
---

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="royal_loader">
     <p>﻿ <!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]--> <!--[if gt IE 8]>
     <!--></p>
     <!--<![endif]--></body>
     <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
     {% include JB/analytics %}
</html>


{% include header.html %}


<!-- Primary Page Layout================================================== -->

<!-- MENU================================================== -->
{% include nav.html %}

<!-- AGENDA================================================== -->
<section class="about">
    {% include post_header.html %}
    <div class="container" id="agenda">
        <div class="sixteen columns">
            <p class="lead">The {{ page.month }} Agenda</p><br>
            <p>At the {{ page.month }} meeting, the topics of discussion will include:</p>
            <dl class="dl-horizontal">
              {% if page.item1 %}
                <dt>{{ page.item1 }}</dt>
                <dd>{{ page.description1 }}</dd>
              {% endif %}
              {% if page.item2 %}
                <dt>{{ page.item2 }}</dt>
                <dd>{{ page.description2 }}</dd>
              {% endif %}
              {% if page.item3 %}
                <dt>{{ page.item3 }}</dt>
                <dd>{{ page.description3 }}</dd>
              {% endif %}
              {% if page.item4 %}
                <dt>{{ page.item4 }}</dt>
                <dd>{{ page.description4 }}</dd>
              {% endif %}
              {% if page.item5 %}
                <dt>{{ page.item5 }}</dt>
                <dd>{{ page.description5 }}</dd>
              {% endif %}
            </dl>
            <p>The next meeting will be held on {{ page.nextMeeting }}</p>
        </div>
        <hr><br><br>
        {% include JB/comments-providers/disqus %}
    </div>
</section>

{% include footer.html %}

